<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDataManService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:52724/DataManService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDataManService"
                contract="IDataManService" name="BasicHttpBinding_IDataManService" />
        </client>
    </system.serviceModel>
</configuration>